<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Phishel &amp; Farmatica</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/phishel_farmatica_style.css" rel="stylesheet" />

</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Phishel & Farmatica", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="menu_navegacion">
                    <li class="nav-item">
                        <a href="/Product">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Carrito">Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Help">Ayuda</a>
                    </li>
                    <li class="navbar-form">
                        <div class="form-group" style="min-width:320px;max-width:420px;padding-left:3px;">
                            <input style="width:250px;display:inline-block;" class="form-control" placeholder="busque el producto que desee" id="busqueda_global" type="text" />
                            <button type="button" class="btn btn-danger" form="busqueda_global">
                                <span class="glyphicon glyphicon-search"></span>

                            </button>
                        </div>

                    </li>
                    <li class="nav-item active" id="singup" ng-controller="mainController">
                        @RenderPage("~/Views/Utils/LogeoUsuario.cshtml")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Phishel &amp; Farmatica</p>
        </footer>
    </div>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/app.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/angular-route.js"></script>
</body>
</html>